* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
}

.replies {
  margin-left: 50px;
}

.reply {
  border: 1px dotted black;
  margin: 5px;
  padding: 5px;
}

.newReply {
  margin: 10px 5px 10px 5px;
}

.thread {
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 5px;
}

.id {
  font-size: 10.5px;
}

#submitNewThread {
  margin: 50px;
}

#title {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  color: #34105e;
  text-shadow: 4px 3px 0px #7A7A7A;
}

#body {
  background: radial-gradient(ellipse at center, #CFD6FF 0%, #C2D9FF 50%, #C7D5FF 100%);
}

.box1title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 10px;
  font-size: 20px;
}

.box1form {
  margin: auto;
  width: 400px;
}

.box1btn {
  width: 100px;
  margin-left: 150px;
}
